.bold-g {
  font-weight: 600 !important;
  color: rgb(187, 186, 186) !important;
}

.card i {
  font-size: 50px !important;
}

.card p {
  font-size: 18px !important;
}

.card {
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out !important;
}

.card:hover {
  transform: scale(1.1);
  border: 2px solid orange;
  color: orange;
  opacity: 0.7;
}

@media screen and (max-width: 550px) {
  .content {
    flex-direction: column !important;
  }
}
