* {
  padding: 0 !important;
  margin: 0 !important;
}

.orange {
  color: orange;
}

.bg-orange {
  background-color: orange !important;
}

.content {
  padding: 20px !important;
}

.nav-link:hover {
  background-color: grey;
}

@media (max-width: 768px) {
  .sidebar {
    height: auto;
  }
}

.btn-search:hover {
  background-color: orange !important  ;
}

@media screen and (max-width: 900px) {
  .searching {
    width: 50% !important;
    margin-top: 40px !important;
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 550px) {
  .searching {
    width: 75% !important;
    display: flex !important;
    margin: auto !important;
    margin-top: 30px !important;
    margin-bottom: 40px !important;
  }
}
