body {
  background-image: url(../../assets/index/footer2.jpg);
}

form {
  border: 2px solid orange !important;
}

.orange {
  color: orange !important;
}

label {
  font-style: italic;
}

input {
  padding-left: 35px !important;
}

.input-icon {
  font-size: 20px !important;
}

i.icon {
  font-size: 23px !important;
  margin-right: -30px !important;
  z-index: 9999;
}

.form-group {
  margin-left: 10px !important;
}
